Training data

In [2]:
import sys
sys.path.insert(0,
                '/Users/mokur/OneDrive - University of Cambridge/Attachments/Jan2023/Tau_pipeline/Tau_classification/')

from base import *
from constants import *
from tau_classification import * 
import joblib

In [3]:
# Read in training data: screening classifier
path = "/Users/mokur/OneDrive - University of Cambridge/Attachments/Jan2023/Tau_pipeline/Tau_classification/Untrained/Training_data/screening_classifier/"
filename = "training.txt"

# Create tau database object 
s_data = TauDataBase(path = path,
                     filename = filename) 

# Prepping data to train screening classifier
s_data.classifier1_prep()

# Check data
print(s_data.c1_data['Class'].value_counts())
print(s_data.c1_X_train.shape)

Non_tau    12006
Tau         9827
Name: Class, dtype: int64
(21833, 54)

In [6]:
path = "/Users/mokur/OneDrive - University of Cambridge/Attachments/Jan2023/Tau_pipeline/Tau_classification/Untrained/Training_data/cortical_regions/"
filename = "training.txt"

# Create tau database object 
cortical_data = TauDataBase(path = path,
                            filename = filename) 

# Prepping data to train tau classifier for cortical regions
cortical_data.classifier2_prep()

# Check data
print(cortical_data.c2_data['Class'].value_counts())
print(cortical_data.c2_X_train.shape)

Others    2913
CB         661
TA         254
NFT        126
Name: Class, dtype: int64
(3954, 54)

In [33]:
print(cortical_data.c2_data['Class'].value_counts().sum())

3954

In [7]:
path = "/Users/mokur/OneDrive - University of Cambridge/Attachments/Jan2023/Tau_pipeline/Tau_classification/Untrained/Training_data/STR/"
filename = "training.txt"

# Create tau database object 
str_data = TauDataBase(path = path,
                       filename = filename) 

# Prepping data to train tau classifier for cortical regions
str_data.classifier2_prep()

# Check data
print(str_data.c2_data['Class'].value_counts())
print(str_data.c2_X_train.shape)

Others    3116
CB         335
TA         200
NFT         48
Name: Class, dtype: int64
(3699, 54)

In [34]:
print(str_data.c2_data['Class'].value_counts().sum())

3699

In [8]:
path = "/Users/mokur/OneDrive - University of Cambridge/Attachments/Jan2023/Tau_pipeline/Tau_classification/Untrained/Training_data/STN&GP/"
filename = "training.txt"

# Create tau database object 
stn_gp_data = TauDataBase(path = path,
                          filename = filename) 

# Prepping data to train tau classifier for cortical regions
stn_gp_data.classifier2_prep()

# Check data
print(stn_gp_data.c2_data['Class'].value_counts())
print(stn_gp_data.c2_X_train.shape)

Others    12988
CB          601
NFT          97
Name: Class, dtype: int64
(13686, 54)

In [35]:
print(stn_gp_data.c2_data['Class'].value_counts().sum())

13686

In [27]:
path = "/Users/mokur/OneDrive - University of Cambridge/Attachments/Jan2023/Tau_pipeline/Tau_classification/Untrained/Training_data/DN/"
filename = "training.txt"

# Create tau database object 
dn_data = TauDataBase(path = path,
                      filename = filename) 

# Prepping data to train tau classifier for dn regions
dn_data.classifier2_prep()

# Check data
print(dn_data.c2_data['Class'].value_counts())
print(dn_data.c2_X_train.shape)

Others    1805
NFT        234
CB         147
Name: Class, dtype: int64
(2186, 54)

In [36]:
print(dn_data.c2_data['Class'].value_counts().sum())

2186

In [28]:
# combine & check unique training samples
screening_ = s_data.c1_data[['Centroid_X','Centroid_Y','Class','Image']]
screening = screening_[screening_['Class']!='Non_tau']
screening = screening.copy()
screening.loc[:,'Image_name'] = [i[0:6] for i in screening['Image']]

cortical = cortical_data.c2_data[['Centroid_X','Centroid_Y','Class','Image']]
cortical = cortical.copy()
cortical.loc[:,'Image_name'] = [i[0:6] for i in cortical['Image']]

stn_gp = stn_gp_data.c2_data[['Centroid_X','Centroid_Y','Class','Image']]
stn_gp = stn_gp.copy()
stn_gp.loc[:,'Image_name'] = [i[0:6] for i in stn_gp['Image']]

str = str_data.c2_data[['Centroid_X','Centroid_Y','Class','Image']]
str = str.copy()
str.loc[:,'Image_name'] = [i[0:6] for i in str['Image']]

dn = dn_data.c2_data[['Centroid_X','Centroid_Y','Class','Image']]
dn = dn.copy()
dn.loc[:,'Image_name'] = [i[0:6] for i in dn['Image']]

# put them all together
all = pd.concat([screening,
                 cortical,
                 stn_gp,
                 str,
                 dn])

In [32]:
dn

      Centroid_X  Centroid_Y   Class                Image Image_name
0         7663.6      5319.4  Others  747337.svs_training     747337
1         7806.3      5350.9     NFT  747337.svs_training     747337
2         7193.5      5410.5     NFT  747337.svs_training     747337
3         7103.1      5447.1     NFT  747337.svs_training     747337
4         7611.8      5452.9  Others  747337.svs_training     747337
...          ...         ...     ...                  ...        ...
2181     15906.5      9511.2  Others  747352.svs_training     747352
2182     15901.1      9512.3  Others  747352.svs_training     747352
2183     16389.3      9512.6  Others  747352.svs_training     747352
2184     15888.4      9514.3  Others  747352.svs_training     747352
2185     15511.3      9518.4  Others  747352.svs_training     747352

[2186 rows x 5 columns]

In [29]:
all_selected = all[['Centroid_X','Centroid_Y','Image_name']]
all_result = all_selected.drop_duplicates()

In [30]:
all_selected.shape

(33352, 3)

In [31]:
all_result.shape

(24642, 3)